<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1>Shake me a cocktail</h1>
    <p><em>Change your life, start to drink</em></p>
    <p><%= link_to 'Create a cocktail', new_cocktail_path, class:"btn btn-flat" %></p>
  </div>
</div>

<div class="container_cocktails_range">
 <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <div class="card" >
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
              <h2 class="card-title"><%= cocktail.name %></h2>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>

