h1 {
  font-size: 24px;
}

.container {
  width: 600px;
  margin-top: 20px;
}

.container-new-cocktail {
  weight: 400px;
  background-color: white;
  height: 600px;
}

.form-group {
  margin: auto;
  width: 80%;
}

#cocktail_photo {
  width: 53% !important;
  margin: auto;
  padding : 20px;
}
